{% if messages %}
<section class="messages">

    <div class="container">
        
        <div class="row justify-content-center">

            <div class="col-12 col-lg-6">

                {% for message in messages %}
                <div class="alert alert-{% if message.tags == "success" %}success{% else %}warning{% endif %} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const alerts = document.querySelectorAll('.alert');

        alerts.forEach(function(alert) {
            setTimeout(function() {
                alert.classList.remove('show');

                setTimeout(function() {
                    alert.remove(); 
                }, 500);
            }, 2000);
        });
        
    });
</script>
{% endif %}